<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	colors="true"
	cacheDirectory=".phpunit.cache"
	beStrictAboutTestsThatDoNotTestAnything="true"
	failOnWarning="true"
	failOnNotice="true"
>
	<testsuites>
		<testsuite name="ucsc-giving-functionality">
			<directory suffix="Test.php">./tests/php</directory>
		</testsuite>
	</testsuites>
</phpunit>
